.button{
  font-size: .75rem;
  padding-block: 0.875rem;
  inline-size: 100%;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--mainFont);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.button:hover{
  opacity: .85;
}

.button:active{
  transform: scale(.9);
}

@media screen and (min-width: 1024px){
  .button{
    max-inline-size: max-content;
    padding-inline: 6rem;
  }
}