.home{
  padding-inline: 1.5rem;
  margin-block-start: 5rem;
  position: relative;
}

.home-image {
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
}

.home-image img{
  inline-size: 100%;
  max-inline-size: 24rem;
}

.home-content{
  padding-block: 1.5rem;
  margin-block-end: 1rem;
}

.home-title{
  font-size: 2rem;
  color: var(--black);
  margin-block: 1rem;
}

.home-title .is-green{
  color: var(--green);
}

.home-paragraph{
  font-size: .875rem;
}

.home-button{
  margin-block-end: 2.5rem;
}

.home-cta{
  font-size: .625rem;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .75rem;
  text-transform: uppercase;
  transition: transform .2s ease-in-out;
}

.home-cta:hover{
  text-decoration: underline;
}

.home-cta:active{
  transform: scale(.99);
}

.home-cta .cta-icon{
  display: inline-block;
  inline-size: 2.75rem;
  block-size: 2.75rem;
  border-radius: 100%;
  background: var(--purple) url('../icons/icon-play.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem 0.8125rem;
  position: relative;
}

@media screen and (min-width: 1024px){
  .home{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    padding-inline: 3.5rem;
  }

  .home::after{
    content: '';
    position: absolute;
    inline-size: 13.5rem;
    inset-inline-end: 0;
    inset-block-end: 0;
    block-size: 100%;
    background-color: var(--green);
    border-start-start-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
    z-index: -1;
    min-block-size: 33rem;
    border-block-start: 30px;
  }

  .home-content{
    order: -1;
  }

  .home-image{
    margin-block-end: 0;
  }

  .home-image img{
    max-inline-size: 32rem;
  }

  .home-content{
    padding-block: 0;
    margin-block-end: 0;
  }

  .home-title{
    font-size: 2.75rem;
  }

  .home-paragraph{
    font-size: 1rem;
  }

  .home-button{
    margin-block-end: 5rem;
  }
}

@media screen and (min-width: 1099px){
  .home::after{
    min-block-size: 29rem;
  }
}